
// Import partials scss files
@use './partials/mixins' as *;
@use './partials/reset' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

// Container
body {
    background-color: $primary-color;
}

.container {
    max-width: 125rem;
    padding: 1.25rem 2.1875rem;
}

.small-container {
    max-width: 105.3125rem;
}

.smaller-container {
    max-width: 96.25rem;
}

.container,
.small-container,
.smaller-container {
    margin: auto;
}

// Common
img {
    display: block;
    width: 100%;
}